div#wrapper{
    margin: auto;
    text-align: center;
    color: #660000;
}
div#naglowek{
    margin: auto;
    text-align: center;
    width: 900px;
    background-color: #ffcc66;
    color: #660000;
    font-size: 5em;
    padding: 20px;
}
div#lewy{
    float: left;
    width: 30%;
}
div#glowny{
    float: left;
    width: 68%;
}
div#stopka{
    clear: both;
    height: 30px;
    text-align: center;
    margin: auto;
}
table{
    border-collapse: collapse;
    margin: 20px;
    padding-top: 20px;
    
}
th{
    color: #ffcc66;
    background-color: #660000;
    text-align: center;
}
td,th{
    border: solid thin #660000;
    padding: 5px;
}
ul{
    list-style: none;
    text-align: right;
}
ul li{
    margin-bottom: 10px;
}
ul li a{
    text-decoration: none;
    color: #660000;
    display: inline-block; 
    padding: 5px;
}
ul li a:hover{
    background-color: #660000;
    color: #ffcc66;
      
}